<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hey, <%= @user%></h1>
<p>
  Your order has been placed successfully.<br>
</p>
<p>Thanks for ordering!</p>
</body>
</html>