ul li, ol li {
  list-style: auto !important;
}
.hide {
  display: none;
}
.hr-tag {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color: black;
  height: 1px;
  margin-bottom: 2px;
  margin-top: 2px;
}