 <footer
    class="text-center text-lg-start text-white"
    style="background-color: black"
  >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 text-white font-weight-bold">
              Mission & Vision
            </h6>
            <p>
              Ceuti Sol Pharma is a rapidly expanding Skin Care Group with 15 year’s experience of Skin Care solution, with an aspiration to serve the field of Dermatology .Providing high quality cosmetology and consumer products.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
<!--          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">-->
<!--            <h6 class="text-uppercase mb-4 text-white font-weight-bold">Products</h6>-->
<!--            <p>-->
<!--              <a class="text-white">MDBootstrap</a>-->
<!--            </p>-->
<!--            <p>-->
<!--              <a class="text-white">MDWordPress</a>-->
<!--            </p>-->
<!--            <p>-->
<!--              <a class="text-white">BrandFlow</a>-->
<!--            </p>-->
<!--            <p>-->
<!--              <a class="text-white">Bootstrap Angular</a>-->
<!--            </p>-->
<!--          </div>-->
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 text-white font-weight-bold">Contact</h6>
            <p><i class="fa fa-home mr-3"></i> Lahore, Punjab, Pakistan</p>
            <p><i class="fa fa-envelope mr-3"></i> info@ceutisolpharma.com </p>
            <p><i class="fa fa-phone mr-3"></i> + 92 321 4646160 </p>
            <p><i class="fa fa-phone mr-3"></i> 042 35292566 </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4  text-white font-weight-bold">Follow us</h6>

            <!-- Facebook -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #3b5998"
              href="https://www.facebook.com/ceutisolpharma?mibextid=ZbWKwL"
              role="button"
            >
              <i class='fa fa-facebook' style="color: white;"></i>
            </a>

            <!-- Google -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #dd4b39"
              href="http://ceutisolpharma.com/"
              role="button"
            ><i class="fa fa-google" style="color: white;"></i
            ></a>

            <!-- Instagram -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #ac2bac"
              href="https://instagram.com/ceutisolpharma?igshid=ZDdkNTZiNTM="
              role="button"
            ><i class="fa fa-instagram" style="color: white;"></i
            ></a>

            <!-- Linkedin -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #0082ca"
              href="https://www.linkedin.com/in/ceutisol-pharma-777781262"
              role="button"
            ><i class="fa fa-linkedin" style="color: white;"></i
            ></a>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
      class="text-center p-3"
      style="background-color: rgba(0, 0, 0, 0.2)"
    >
      Copyright &copy;<script>document.write(new Date().getFullYear());</script>
      All rights reserved.
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
