<header class="header_area">
  <nav class="text-white navbar navbar-expand-lg navbar-light bg-light set-nav-pad " style="background-color: #83c5be !important;">
    <div class="container-fluid">
      <a class="navbar-brand remove-underline nav-btn-font-wt" style="font-size: 35px;" href="/">
          <%= image_tag ("core-img/cs_logo_white.png"), class: "d-inline-block align-text-center", width: "130", height: "70"%>

      </a>
<!--      <div class="vertical" style="border-left: 2px solid lightgrey; height: 70px;"></div>-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-2">
          <li class="nav-item nav-btn-pdg active">
            <a class="nav-link active remove-underline nav-btn-font-wt active text-white" aria-current="page" href="/">Home</a>
          </li>
          <% ProductType.all.each do |product_type|  %>
          <li class="nav-item nav-btn-pdg text-white">
            <%= link_to product_type.name, product_type_products_path(product_type.friendly_id), class: "nav-link remove-underline nav-btn-font-wt  underline-hover text-white" %>
<!--            <a class="nav-link remove-underline nav-btn-font-wt underline-hover" href="/product_type_products?name=<%#= product_type.friendly_id %>"><%#= product_type.name %></a>-->
          </li>
            <% end %>
          <li class="nav-item nav-btn-pdg">
            <a class="nav-link remove-underline nav-btn-font-wt underline-hover text-white" href="#">Sale</a>
          </li>
          <li class="nav-item nav-btn-pdg">
            <a class="nav-link remove-underline nav-btn-font-wt underline-hover text-white" href="#">Contact
              Us</a>
          </li>
          <li class="nav-item nav-btn-pdg">
            <a class="nav-link remove-underline nav-btn-font-wt underline-hover text-white" href="/blogs/index">Blog</a>
          </li>
        </ul>
        <span id="show-cert">
          <%= render 'shops/cart' %>
        </span>
        <span>
      <% if current_client %>
      <div class=" nav-btn-pdg">
          <a data-method="delete" class="text-white" href="/clients/sign_out"><img src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/30/000000/external-logout-screen-from-the-working-portfolio-of-a-user-classic-bold-tal-revivo.png"/></a>
        </div>
      <% else %>
         <div class="nav-btn-pdg">
          <a href="/clients/sign_in" class="text-white"><img src="https://img.icons8.com/material-rounded/30/000000/user.png"/></a>
        </div>
      <% end %>
          </span>
      </div>

    </div>
  </nav>
</header>
